<div class="container">
  <h1>Add Emp</h1>
  <form method="post"  action="/emp/addemp">
    <label>email</label>
    <input type="email" class="form-control" placeholder=" Enter your Email" name="email"/>
    <label>name</label>
    <input type="text" class="form-control" placeholder=" Enter your name" name="name"/>
    <label>pass</label>
    <input type="password" class="form-control" placeholder=" Enter your Password" name="pass"/>
    <label>mobile</label>
    <input type="text" class="form-control" placeholder=" Enter your Mobile" name="mobile"/>
    <label >city</label>
    <input type="text" class="form-control" placeholder=" Enter your City" name="city"/>
    <br>
    <input type="submit" class="btn btn-danger">

  </form>
</div>